@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-blue: #4876ff;
  --brand-lime: #d9f154;
  --brand-navy: #2e3192;
  --brand-orange: #ff7347;
  --brand-pink: #f7d0e9;
  --brand-purple: #692e54;
  --brand-gray: #fffdf9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-blue: var(--brand-blue);
  --color-brand-lime: var(--brand-lime);
  --color-brand-navy: var(--brand-navy);
  --color-brand-orange: var(--brand-orange);
  --color-brand-pink: var(--brand-pink);
  --color-brand-purple: var(--brand-purple);
  --color-brand-gray: var(--brand-gray);
  --font-sans: var(--font-bowlby-one-sc);
  --font-mono: var(--font-dm-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.bg-texture {
  background-image: url("/bg-texture.png");
  background-size: 720px 460px;
  background-repeat: repeat;
  background-position: center;
}

/* Definición de los keyframes para la animación squiggle */
@keyframes squiggle {
  0% { filter: url("#squiggle-0"); }
  25% { filter: url("#squiggle-1"); }
  50% { filter: url("#squiggle-2"); }
  75% { filter: url("#squiggle-3"); }
  100% { filter: url("#squiggle-4"); }
}

/* Clase de utilidad para aplicar la animación */
.animate-squiggle {
  animation: squiggle 500ms linear infinite;
}

/* Variantes de duración */
.animate-squiggle-slow {
  animation: squiggle 1s linear infinite;
}

.animate-squiggle-fast {
  animation: squiggle 300ms linear infinite;
}
